.flex-center-container {
  justify-content: center;
  width: 100%;
}

.input-container {
  width: 30%;
  margin: 1rem;
}

.sizeSurvey label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}